/**
 * Background color
 *
 * Markup:
 * <div class="bga" style="height: 100px; width: 100px"></div>
 * <div class="bgb" style="height: 100px; width: 100px"></div>
 * <div class="bgg" style="height: 100px; width: 100px"></div>
 * <div class="bgw" style="height: 100px; width: 100px"></div>
 *
 * Styleguide Element.background
 */
.bga {
  background-color: var(--accent);
}
.bgb {
  background-color: var(--black);
}
.bgg {
  background-color: var(--gray);
}
.bgw {
  background-color: var(--white);
}

/**
 * Border
 *
 * <div class="bgg br" style="height: 100px; width: 100px"></div>
 *
 * Styleguide: Element.border
 */
.br {
  border-radius: var(--border-radius);
}

/**
 * Display
 *
 * Markup:
 * <div class="dib">
 *   <code>inline-block</code>
 * </div>
 * <div class="db">
 *   <code>block</code>
 * </div>
 * <div class="di">
 *   <code>inline</code>
 * </div>
 * <div class="dn">
 *   <code>none</code>
 * </div>
 *
 * Styleguide: Element.display
 */
.dib {
  display: inline-block;
}
.db {
  display: block;
}
.di {
  display: inline;
}
.dn {
  display: none;
}
