/**
 * Backgrounds
 *
 * Provide a `background-color` to an element.
 *
 * Styleguide Element - Background
 */

/**
 * Accent background
 *
 * Markup:
 * <div class="bga" style="height: 100px; width: 100px"></div>
 *
 * Styleguide Element - Background - Accent
 */
.bga {
  background-color: var(--a);
}

/**
 * Black background
 *
 * Markup:
 * <div class="bgb" style="height: 100px; width: 100px"></div>
 *
 * Styleguide Element - Background - Black
 */
.bgb {
  background-color: var(--b);
}

/**
 * Gray background
 *
 * Markup:
 * <div class="bgg" style="height: 100px; width: 100px"></div>
 *
 * Styleguide Element - Background - Gray
 */
.bgg {
  background-color: var(--g);
}

/**
 * White background
 *
 * Markup:
 * <div class="bgw" style="border: 1px solid; height: 100px; width: 100px"></div>
 *
 * Styleguide Element - Background - White
 */
.bgw {
  background-color: var(--w);
}

/**
 * Border
 *
 * Colored borders
 *
 * Styleguide Element - Border
 */
.ba,
.bb,
.bg {
  border: 1px solid transparent;
}

/**
 * Accent Border
 *
 * Markup
 * <div class="ba">Accent</div>
 *
 * Styleguide Element - Border - Accent
 */
.ba {
  border-color: var(--a);
}

/**
 * Black Border
 *
 * Markup
 * <div class="bb">Black</div>
 *
 * Styleguide Element - Border - Black
 */
.bb {
  border-color: var(--b);
}

/**
 * Gray Border
 *
 * Markup
 * <div class="bg">Gray</div>
 *
 * Styleguide Element - Border - Gray
 */
.bg {
  border-color: var(--g);
}
/**
 * Border Radius
 *
 * Apply a `border-radius`.
 *
 * Markup:
 * <div class="bgg br" style="height: 100px; width: 100px"></div>
 *
 * Styleguide Element - Border Radius
 */
.br {
  border-radius: var(--br);
}

/**
 * Display
 *
 * Helper classes for `display`.
 *
 * Styleguide Element - Display
 */

/**
 * block
 *
 * Markup:
 * <span class="db">block</span>
 *
 * Styleguide Element - Display - block
 */
.db {
  display: block;
}

/**
 * inline-block
 *
 * Markup:
 * <div class="dib">inline-block</div>
 *
 * Styleguide Element - Display - inline-block
 */
.dib {
  display: inline-block;
}

/**
 * inline
 *
 * Markup:
 * <div class="di">inline</div>
 *
 * Styleguide Element - Display - inline
 */
.di {
  display: inline;
}

/**
 * none
 *
 * Markup:
 * <div class="dn">none</div>
 *
 * Styleguide Element - Display - none
 */
.dn {
  display: none;
}

/**
 * List Style None
 *
 * Unset a list element's `list-style`.
 *
 * Markup:
 * <ul class="ls0">
 *   <li>One</li>
 *   <li>Two</li>
 * </ul>
 *
 * Styleguide Element - List Style None
 */
.ls0 {
  list-style: none;
}
