.clear,
.clearfix:after {
  clear: both;
}
.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}
.clearr {
  clear: right;
}
.clearl {
  clear: left;
}
.floatl {
  float: left;
}
.floatr {
  float: right;
}

/** Flex */
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.fje {
  justify-content: flex-end;
}
.fjc {
  justify-content: flex-center;
}
.fjs {
  justify-content: space-between;
}
