/**
 * Float
 *
 * Markup:
 * <div class="clearfix">
 *   <div class="bgg floatl" style="height: 100px; width: 100px"></div>
 *   <p>Sample text</p>
 * </div>
 *
 * Styleguide Layout - Float
 */
.clear,
.clearfix:after {
  clear: both;
}
.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}
.clearr {
  clear: right;
}
.clearl {
  clear: left;
}
.floatl {
  float: left;
}
.floatr {
  float: right;
}

/**
 * Flexbox
 *
 * Styleguide Layout - Flexbox
 */
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-je {
  justify-content: flex-end;
}
.flex-jc {
  justify-content: flex-center;
}
.flex-sb {
  justify-content: space-between;
}
