/**
 * Spacing
 *
 * Apply `margin` and `padding` in a uniform manner using `rem` units.
 *
 * phtn spacing classes begin with either `m` or `p`:
 *
 * * `m`: margin
 * * `p`: padding
 *
 * These can be composed with directional modifiers:
 *
 * * `h`: horizontal
 * * `v`: vertical
 * * `r`: right
 * * `b`: bottom
 *
 * (phtn applies spacing primarily in the `bottom` and `right` directions.)
 * Examples of composed spacing classes:
 *
 * * `mh`: apply margin in the horizontal directions (`left` and `right`)
 * * `pv`: apply padding in vertical directions (`top` and `bottom`)
 * * `mb`: apply margin in the `bottom` direction
 * * `pr`: apply padding in the `right` direction
 *
 * Optionally compose with a numeric modifier (`0`, `1`, `2`, or `3`) to
 * multiply the spacing:
 *
 * * `m0`: zero margin in all directions
 * * `ph2`: double padding in the horizontal directions
 * * `mb3`: triple margin in the bottom direction
 *
 * Styleguide Spacing
 */

/**
 * Margin 0
 *
 * Markup:
 * <div class="m0">Margin zero</div>
 * <div class="mr0">Margin right zero</div>
 * <div class="mb0">Margin bottom zero</div>
 * <div class="mh0">Margin horizontal zero</div>
 * <div class="mv0">Margin vertical zero</div>
 *
 * Styleguide Spacing - Margin - 0
 */
.m0,
.mr0,
.mh0 {
  margin-right: 0;
}
.m0,
.mh0 {
  margin-left: 0;
}

.m0,
.mb0,
.mv0 {
  margin-bottom: 0;
}
.m0,
.mv0 {
  margin-top: 0;
}

/**
 * Margin 1
 *
 * Markup:
 * <div class="m">Margin one</div>
 * <div class="mr">Margin right one</div>
 * <div class="mb">Margin bottom one</div>
 * <div class="mh">Margin horizontal one</div>
 * <div class="mv">Margin vertical one</div>
 *
 * Styleguide Spacing - Margin - 1
 */
.mr,
.mh,
.m {
  margin-right: var(--spacing);
}
.mh,
.m {
  margin-left: var(--spacing);
}

.mb,
.mv,
.m {
  margin-bottom: var(--spacing);
}
.mv,
.m {
  margin-top: var(--spacing);
}

/**
 * Margin 2
 *
 * Markup:
 * <div class="m2">Margin two</div>
 * <div class="mr2">Margin right two</div>
 * <div class="mb2">Margin bottom two</div>
 * <div class="mh2">Margin horizontal two</div>
 * <div class="mv2">Margin vertical two</div>
 *
 * Styleguide Spacing - Margin - 2
 */
.mr2,
.mh2,
.m2 {
  margin-right: calc(2 * var(--spacing));
}
.mh2,
.m2 {
  margin-left: calc(2 * var(--spacing));
}

.mb2,
.mv2,
.m2 {
  margin-bottom: calc(2 * var(--spacing));
}
.mv2,
.m2 {
  margin-top: calc(2 * var(--spacing));
}

/**
 * Margin 3
 *
 * Markup:
 * <div class="m3">Margin three</div>
 * <div class="mr3">Margin right three</div>
 * <div class="mb3">Margin bottom three</div>
 * <div class="mh3">Margin horizontal three</div>
 * <div class="mv3">Margin vertical three</div>
 *
 * Styleguide Spacing - Margin - 3
 */
.mr3,
.mh3,
.m3 {
  margin-right: calc(3 * var(--spacing));
}
.mh3,
.m3 {
  margin-left: calc(3 * var(--spacing));
}

.mb3,
.mv3,
.m3 {
  margin-bottom: calc(3 * var(--spacing));
}
.mv3,
.m3 {
  margin-top: calc(3 * var(--spacing));
}

/**
 * Margin Auto
 *
 * Markup:
 * <p class="mha" style="max-width: 100px">Sample text</p>
 *
 * Styleguide Spacing - Margin - Auto
 */
.mha {
  margin-left: auto;
  margin-right: auto;
}

/**
 * Padding 0
 *
 * Markup:
 * <div class="p0">Padding zero</div>
 * <div class="pr0">Padding right zero</div>
 * <div class="pb0">Padding bottom zero</div>
 * <div class="ph0">Padding horizontal zero</div>
 * <div class="pv0">Padding vertical zero</div>
 *
 * Styleguide Spacing - Padding - 0
 */
.p0,
.pr0,
.ph0 {
  padding-right: 0;
}
.p0,
.ph0 {
  padding-left: 0;
}

.p0,
.pb0,
.pv0 {
  padding-bottom: 0;
}
.p0,
.pv0 {
  padding-top: 0;
}

/**
 * Padding 1
 *
 * Markup:
 * <div class="p">Padding one</div>
 * <div class="pr">Padding right one</div>
 * <div class="pb">Padding bottom one</div>
 * <div class="ph">Padding horizontal one</div>
 * <div class="pv">Padding vertical one</div>
 *
 * Styleguide Spacing - Padding - 1
 */
.pr,
.ph,
.p {
  padding-right: var(--spacing);
}
.ph,
.p {
  padding-left: var(--spacing);
}

.pb,
.pv,
.p {
  padding-bottom: var(--spacing);
}
.pv,
.p {
  padding-top: var(--spacing);
}

/**
 * Padding 2
 *
 * Markup:
 * <div class="p2">Padding two</div>
 * <div class="pr2">Padding right two</div>
 * <div class="pb2">Padding bottom two</div>
 * <div class="ph2">Padding horizontal two</div>
 * <div class="pv2">Padding vertical two</div>
 *
 * Styleguide Spacing - Padding - 2
 */
.pr2,
.ph2,
.p2 {
  padding-right: calc(2 * var(--spacing));
}
.ph2,
.p2 {
  padding-left: calc(2 * var(--spacing));
}

.pb2,
.pv2,
.p2 {
  padding-bottom: calc(2 * var(--spacing));
}
.pv2,
.p2 {
  padding-top: calc(2 * var(--spacing));
}

/**
 * Padding 3
 *
 * Markup:
 * <div class="p3">Padding three</div>
 * <div class="pr3">Padding right three</div>
 * <div class="pb3">Padding bottom three</div>
 * <div class="ph3">Padding horizontal three</div>
 * <div class="pv3">Padding vertical three</div>
 *
 * Styleguide Spacing - Padding - 3
 */
.pr3,
.ph3,
.p3 {
  padding-right: calc(3 * var(--spacing));
}
.ph3,
.p3 {
  padding-left: calc(3 * var(--spacing));
}

.pb3,
.pv3,
.p3 {
  padding-bottom: calc(3 * var(--spacing));
}
.pv3,
.p3 {
  padding-top: calc(3 * var(--spacing));
}
