/**
 * Text
 *
 * Helper classes for `color`, `font-size`, etc.
 *
 * Styleguide Text
 */

/**
 * Text Alignment
 *
 * Markup:
 * <p class="tal">Left</p>
 * <p class="tac">Center</p>
 * <p class="tar">Right</p>
 * <p class="taj" style="max-width: 160px">Justified justified justified justified justified justified.</p>
 *
 * Styleguide Text - Aligment
 */
.tal {
  text-align: left;
}
.tac {
  text-align: center;
}
.taj {
  text-align: justify;
}
.tar {
  text-align: right;
}

/**
 * Text Decoration
 *
 * Markup:
 * <p class="td0">None</p>
 * <p class="tds">line-through</p>
 * <p class="tdu">underline</p>
 *
 * Styleguide Text - Decoration
 */
.td0 {
  text-decoration: none;
}
.tdl {
  text-decoration: line-through;
}
.tdu {
  text-decoration: underline;
}

/**
 * White
 *
 * Markup:
 * <p class="ca">Sample text</p>
 *
 * Styleguide Text - Colors - White
 */
.ca {
  color: var(--a);
}
.cb {
  color: var(--b);
}
.cg {
  color: var(--g);
}
.cw {
  color: var(--w);
}

/**
 * Font Sizes
 *
 * Sizes are based on the [Golden Ratio](https://en.wikipedia.org/wiki/Golden_ratio)
 * starting at 100% and 81.25%:
 *
 * ```
 * 1.0   (16/24)  0.8125 (13/16)
 * 1.618 (25/32)  1.315  (21/24)
 * 2.618 (42/48)  2.127  (34/40)
 * 4.236 (68/72)  3.442  (55/64)
 * ```
 *
 * Markup:
 * <div>
 *   <h1 class="f7 mv">Font Size 7</h1>
 *   <h1 class="f6 mv">Font Size 6</h1>
 *   <h2 class="f5 mv">Font Size 5</h2>
 *   <h3 class="f4 mv">Font Size 4</h3>
 *   <h4 class="f3 mv">Font Size 3</h4>
 *   <h5 class="f2 mv">Font Size 2</h5>
 *   <h6 class="f1 mv">Font Size 1</h6>
 *   <p class="fs mv">Font Size Small</p>
 * </div>
 * 
 * Styleguide Text - Sizes
 */

/**
 * Text Size 1
 *
 * The default text size.
 *
 * Markup:
 * <h1 class="f1">Sample text</h1>
 *
 * Styleguide Text - Sizes - 1
 */
.f1 {
  font-size: 1rem;
  line-height: calc(3 * var(--s));
}

/**
 * Text Size 2
 *
 * Markup:
 * <h1 class="f2">Sample text</h1>
 * 
 * Styleguide Text - Sizes - 2
 */
.f2 {
  font-size: 1.315rem;
  line-height: calc(3 * var(--s));
}

/**
 * Text Size 3
 *
 * Markup:
 * <h1 class="f3">Sample text</h1>
 * 
 * Styleguide Text - Sizes - 3
 */
.f3 {
  font-size: 1.618rem;
  line-height: calc(4 * var(--s));
}

/**
 * Text Size 4
 *
 * Markup:
 * <h1 class="f4">Sample text</h1>
 * 
 * Styleguide Text - Sizes - 4
 */
.f4 {
  font-size: 2.127rem;
  line-height: calc(5 * var(--s));
}

/**
 * Text Size 5
 *
 * Markup:
 * <h1 class="f5">Sample text</h1>
 * 
 * Styleguide Text - Sizes - 5
 */
.f5 {
  font-size: 2.618rem;
  line-height: calc(6 * var(--s));
}

/**
 * Text Size 6
 *
 * Markup:
 * <h1 class="f6">Sample text</h1>
 * 
 * Styleguide Text - Sizes - 6
 */
.f6 {
  font-size: 3.442rem;
  line-height: calc(8 * var(--s));
}

/**
 * Text Size 7
 *
 * Markup:
 * <h1 class="f7">Sample text</h1>
 * 
 * Styleguide Text - Sizes - 7
 */
.f7 {
  font-size: 4.236rem;
  line-height: calc(9 * var(--s));
}

/**
 * Font Size Small
 *
 * Markup:
 * <p class="fs">Sample text<p>
 *
 * Styleguide Text - Sizes - Small
 */
.fs {
  font-size: 0.8125rem;
  line-height: calc(2 * var(--s));
}

/**
 * Markup:
 * <p class="fsn">Sample text</p>
 * <p class="fsi">Sample text</p>
 *
 * Styleguide Text - Style
 */
.fsn {
  font-style: normal;
}
.fsi {
  font-style: italic;
}

/**
 * Text Weight
 *
 * Adjust the `font-weight`:
 *
 * Markup:
 * <div style="font-family: 'Avenir Next', 'Helvetica Neue', sans-serif">
 *   <p class="fw1">100</p>
 *   <p class="fw2">200</p>
 *   <p class="fw3">300</p>
 *   <p class="fw4">400</p>
 *   <p class="fw5">500</p>
 *   <p class="fw6">600</p>
 *   <p class="fw7">700</p>
 *   <p class="fw8">800</p>
 *   <p class="fw9">900</p>
 * </div>
 *
 * Styleguide Text - Weight
 */
.fw1 {
  font-weight: 100;
}
.fw2 {
  font-weight: 200;
}
.fw3 {
  font-weight: 300;
}
.fw4,
.fwr {
  font-weight: 400;
}
.fw5 {
  font-weight: 500;
}
.fw6 {
  font-weight: 600;
}
.fw7,
.fwb {
  font-weight: 700;
}
.fw8 {
  font-weight: 800;
}
.fw9 {
  font-weight: 900;
}
