/**
 * Text color
 *
 * Markup:
 * <p class="ca">Sample text</p>
 * <p class="cb">Sample text</p>
 * <p class="cg">Sample text</p>
 * <p class="cw">Sample text</p>
 *
 * Styleguide Text.color
 */
.ca {
  color: var(--accent);
}
.cb {
  color: var(--black);
}
.cg {
  color: var(--gray);
}
.cw {
  color: var(--white);
}

/**
 * Font size
 *
 * Markup:
 * <p class="f1">Sample text</p>
 * <p class="f2">Sample text</p>
 * <p class="f3">Sample text</p>
 * <p class="f4">Sample text</p>
 *
 * Styleguide Text.size
 */
.f1 {
  font-size: 1em;
  line-height: calc(2 * var(--spacing));
}
.f2 {
  font-size: 1.5em;
  line-height: calc(3 * var(--spacing));
}
.f3 {
  font-size: 2em;
  line-height: calc(3 * var(--spacing));
}
.f4 {
  font-size: 2.5em;
  line-height: var(4 * var(--spacing));
}

/**
 * Font style
 *
 * Markup:
 * <p class="fsn">Sample text</p>
 * <p class="fsi">Sample text</p>
 *
 * Styleguide: Text.style
 */
.fsn {
  font-style: normal;
}
.fsi {
  font-style: italic;
}

/**
 * Font weight
 *
 * Markup:
 * <p class="fw1">Sample text</p>
 * <p class="fw2">Sample text</p>
 * <p class="fw3">Sample text</p>
 * <p class="fw4">Sample text</p>
 * <p class="fw5">Sample text</p>
 * <p class="fw6">Sample text</p>
 * <p class="fw7">Sample text</p>
 * <p class="fw8">Sample text</p>
 * <p class="fw9">Sample text</p>
 *
 * Styleguide: Text.weight
 */
.fw1 {
  font-weight: 100;
}
.fw2 {
  font-weight: 200;
}
.fw3 {
  font-weight: 300;
}
.fw4,
.fwr {
  font-weight: 400;
}
.fw5 {
  font-weight: 500;
}
.fw6 {
  font-weight: 600;
}
.fw7,
.fwb {
  font-weight: 700;
}
.fw8 {
  font-weight: 800;
}
.fw9 {
  font-weight: 900;
}

/**
 * Text alignment
 *
 * Markup:
 * <p class="tal">Sample text</p>
 * <p class="tac">Sample text</p>
 * <p class="tar">Sample text</p>
 * <p class="taj">Sample text</p>
 *
 * Styleguide: Text.align
 */
.tal {
  text-align: left;
}
.tac {
  text-align: center;
}
.taj {
  text-align: justify;
}
.tar {
  text-align: right;
}

/**
 * Text decoration
 *
 * Markup:
 * <p class="td0">Sample text</p>
 * <p> class="tdu">Sample text</p>
 *
 * Styleguide: Text.decoration
 */
.tu0 {
  text-decoration: none;
}
.tu {
  text-decoration: underline;
}
