/**
 * Variables
 *
 * ## Colors
 *
 * * `--a`, `--a2`, `--a3`: Accent colors
 * * `--b`: Black
 * * `--w`: White
 *
 * Styleguide Variables
 */
:root {
  /** Accent colors */
  --a: #05a;
  --a2: #027;
  --a3: #004;
  /** Black color */
  --b: #000;
  /** Border radius */
  --br: 0.25rem;
  /** Gray colors */
  --g: #555;
  --g2: #888;
  --g3: #bbb;
  --g4: #eee;
  /** Spacing unit */
  --s: 0.75rem;
  /** White color */
  --w: #fff;
}
