/** Variables */

:root {
  /** Accent color */
  --a: #16e;
  /** Black color */
  --b: #000;
  /** Border radius */
  --br: 0.25rem;
  /** Gray color */
  --g: #666;
  /** Spacing unit */
  --s: 0.75rem;
  /** White color */
  --w: #fff;
}
